<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EZmod_MC_v1._5._0.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <EZmod_MC_v1._5._0.My.MySettings>
            <setting name="MCpath" serializeAs="String">
                <value />
            </setting>
            <setting name="ResFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ModFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ShadeFolder" serializeAs="String">
                <value />
            </setting>
        </EZmod_MC_v1._5._0.My.MySettings>
    </userSettings>
</configuration>